body{  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 100px; 
}

p{
    width: 600px;
    font-size: 18px;
}

.div_left{
    background-color: grey; 
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
}

.div_right{
    text-align: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
}
